<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- TestNG configuration -->
<suite name="Grid Cross Browser Suite">
<!--    <suite name="Grid Cross Browser Suite" thread-count="3" parallel="tests">-->

<!--    <parameter name="baseUrl" value="https://ek.ua/"></parameter>-->
<!--    <parameter name="os" value="WINDOWS"></parameter>-->
<!--    <parameter name="node" value="http://192.168.1.3:5555"></parameter>-->
    
<!--    <test name="Login Tests Chrome" group-by-instances="true" preserve-order="true">-->
    <test name="Login Tests Chrome">
        <parameter name="browser" value="chrome" />
        <packages>
            <package name="ua.ek.bdd.search" />
        </packages>
        <classes>
            <class name="ua.ek.bdd.TestBddRunner" />
        </classes>
    </test>

    <test name="Tablets Filters Tests Firefox" group-by-instances="true" preserve-order="true">
        <parameter name="browser" value="firefox" />
        <packages>
            <package name="ua.ek.bdd.search" />
        </packages>
        <classes>
            <class name="ua.ek.bdd.TestBddRunner" />
        </classes>
    </test>

</suite>