<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- TestNG configuration -->
<suite name="Cross Browser  Suite">
    <test name="Auth Tests Chrome">
        <parameter name="browser" value="chrome" />
        <packages>
            <package name="ua.ek" />
        </packages>
        <classes>
            <class name="ua.ek.AuthPageTest" />
        </classes>
    </test>

    <test name="Auth Tests Firefox">
        <parameter name="browser" value="firefox" />
        <packages>
            <package name="ua.ek" />
        </packages>
        <classes>
            <class name="ua.ek.AuthPageTest" />
        </classes>
    </test>
</suite>